<div class="row">
  <div class="list-group col-md-2" *ngIf="categories$ | async as categories">
    <a class="list-group-item list-group-item-action"
       [routerLink]="['/']"
       [class.active]="!selectedCategory"
    >
      All categories
    </a>
    <a class="list-group-item list-group-item-action" *ngFor="let category of categories"
       [routerLink]="['/']"
       [queryParams]="{category: category.name}"
       routerLinkActive="active"
    >
      {{ category.name }}
    </a>
  </div>

  <div class="card-columns col-md-10">
    <app-product-catalog *ngFor="let product of products$ | async" [product]="product" [cart]="cart"></app-product-catalog>
  </div>
</div>
